################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WPAHelper/v15/ipch/AutoPCH/WPAHELPER-3721d79e/WPAHELPER-55edb955/WPAHELPER.ipch
